<%= form_with model: artist, local: true do |form| %>
  <% if artist.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% artist.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, "アーティスト名", class: "form-label fw-bold" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="text-center">
    <%= form.submit artist.new_record? ? "登録" : "更新", class: "btn btn-primary px-4" %>
  </div>
<% end %>