<h1><%= @user.email %> さんのマイページ</h1>

<h2>ライブ記録一覧</h2>

<% if @live_records.any? %>
  <ul class="list-group">
    <% @live_records.each do |record| %>
      <li class="list-group-item">
        <strong><%= record.live_title %></strong><br>
        会場: <%= record.location %><br>
        日付: <%= record.date.strftime("%Y年%m月%d日") %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>まだライブ記録がありません。</p>
<% end %>

<%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-danger mt-3" %>
