<div class="d-flex" style="min-height: 100vh;">
  <nav class="flex-shrink-0 p-4 custom-sidebar">
    <!-- ロゴ -->
    <div class="text-center mb-4">
      <h2 class="relive-logo text-white">Re:Live</h2>
    </div>

    <!-- ナビゲーション -->
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item mb-2">
        <%= link_to "マイライブ記録（マイページ）", live_records_path, class: "nav-link sidebar-link" %>
      </li>
      <li class="nav-item mb-2">
        <%= link_to "新規ライブ登録", new_live_record_path, class: "nav-link sidebar-link" %>
      </li>
      <li class="nav-item mb-2">
        <%= link_to "アーティスト一覧", artists_path, class: "nav-link sidebar-link" %>
      </li>
      <li class="nav-item mb-2">
        <%= link_to "新規アーティスト登録", new_artist_path, class: "nav-link sidebar-link" %>
      </li>

    <!-- ログアウト -->
      <li class="nav-item mt-4">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout-link" %>
      </li>
    </ul>
  </nav>