<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <div class="card shadow-sm p-4">
        <h2 class="text-center mb-4">ライブを記録する</h2>

        <%= form_with model: @live_record, local: true do |f| %>
          <div class="mb-3">
            <%= f.label :artist_id, "アーティスト名" %>
            <%= f.collection_select :artist_id, @artists, :id, :name, { prompt: "選択してください" }, { class: "form-select" } %>
          </div>

          <div class="mb-3">
            <%= f.label :live_title, "ライブ名" %>
            <%= f.text_field :live_title, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= f.label :location, "会場" %>
            <%= f.text_field :location, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= f.label :date, "日時" %>
            <%= f.date_select :date, {}, { class: "form-select d-inline w-auto me-2" } %>
          </div>

          <div class="mb-3">
            <%= f.label :image, "写真" %>
            <%= f.file_field :image, class: "form-control" %>
          </div>

          <h4 class="mt-4 mb-3">セットリスト</h4>
            <div data-controller="song-form">
              <div id="songs" data-song-form-target="container"></div>

              <button type="button" class="btn btn-secondary mt-2" data-action="click->song-form#addSong">
                曲を追加する
              </button>
            </div>

            <!-- 入力フィールド用テンプレート（非表示） -->
            <template id="song-template">
              <div class="mb-2">
                <label>__NUM__</label>
                <input type="text" name="live_record[songs_attributes][__INDEX__][title]" class="form-control" />
              </div>
            </template>

          <div class="mt-4 text-center">
            <%= f.submit "登録する", class: "btn btn-primary px-5" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
